.recharts-wrapper {
    margin : 0 auto;
    margin-top: 1%
  }

textarea{
    resize:none
}

svg{
    margin: top 1%;
}


.bg-6{
    background-color: #E24C26;
}

.bg-7{
    background-color: #0B44FC;
}

.bg-16{
    background-color: #9D3400
}

.form-group-header {
    display: flex;
    align-items: center; /* Align the children vertically */
  }
  
  .form-group-header h3 {
    margin-right: 10px; /* Add space to the right of the <h3> element */
  }
  